/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn1 {
	@apply bg-green-400 px-6 mr-2 shadow-lg rounded w-full;
}
.btn2 {
	@apply bg-gray-200 px-6 mr-2 shadow-lg rounded whitespace-nowrap;
} */
.footer {
	@apply text-center left-0 bottom-0 w-full p-10 font-bold text-gray-600;
}
.header {
	min-height: 90vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
		url("/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-5%);
		animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
	}
}
.recipe__card:hover {
	animation: bounce 1s infinite;
}
